
@media (max-width: 1024px) {
  .hero-title {
  font-size: 6.8rem;
  line-height: 8rem;
  }
  .blog-input {
  padding: 27px 160px 27px 16px;
  }
  .qualified-section {
  gap: 85px;
  }
  .qualified-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .qualified-photo {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  .qualified-photo-text {
  max-width: 301px;
  }
}
@media (max-width: 1024px) {
.blog-input {
padding: 27px 130px 27px 16px;
}
}
@media (max-width: 768px) {
  .hero-title {
  font-size: 5.8rem;
  line-height: 6rem;
  white-space: normal;
}
  .hero-descr {
  margin-bottom: 70px;
}
  .statistic-item {
  grid-template-columns: repeat(1, 1fr);
  }
  .medico {
  grid-template-columns: repeat(1, 1fr);
  }
  .medico-about {
  text-align: center;
  }
  .medico-descr {
  text-align: center;
  margin-left: 0;
  }
  .appointment {
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 80px;
  }
  .appointment-application {
  grid-template-columns: repeat(1, 1fr);
  }
  .appointment-title {
  text-align: center;
  }
  .appointment-input-column {
  align-items: center;
  justify-content: center;
  text-align: center;
  }
  .blog {
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  text-align: center;
  }
  .blog-image {
  display: none;
  }
  .blog-btn {
  left: 54%;
  }
  .footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
  .footer-item {
  text-align: center;
  }
  .footer-title {
  text-align: center;
  }
  .footer-logo {
  text-align: center;
  }
  .footer-text {
  max-width: 735px;
  text-align: center;
  }
  .footer-mail {
  display: block;
  text-align: center;
  }
  .social-footer {
  justify-content: center;
  }
}

@media (max-width: 710px) {
.header-logo {
  display: none;
}
.qualified-section {
grid-template-columns: repeat(1, 1fr);
text-align: center;
}
.social {
  align-items: center;
  justify-content: center;
}
.reviews-btn-left,
.reviews-btn-right {
  display: none;
}
.appointment-application {
  display: block;
  text-align: center;
}
}
@media (max-width:570px) {
  .blog-input {
  padding: 27px 110px 27px 16px;
  }
}
@media (max-width: 500px) {
  .header-link {
  display: none;
  }
  .header-logo {
  display: block;
}
}

@media (max-width: 376px) {
  .hero-title {
  font-size: 4rem;
  line-height: 6rem;
  margin-left: 0;
  }
  .hero-descr {
  margin-left: 0;
}
  .header {
  padding-top: 25px;
  }
  .appointment-title {
  font-size: 5.5rem;
  line-height: 6rem;
  }
  .reviews-title {
  font-size: 6rem;
  line-height: 6rem;
  }
  .hero-btn {
  margin-left: 0;
  }
  .blog-input {
  padding: 27px 111px 27px 16px;
  white-space: normal;
  }
}

@media (max-width: 320px) {
.medico-title {
  line-height: 7rem;
  font-size: 4.5rem;
}
.appointment-title {
  font-size: 4rem;
}
}